<div class="container">
  <div class="features-header">
    <div class="features-header-icon">
      <img src="assets/img/icons/email.png" alt="" />
    </div>
    <h2>Contact us</h2>
    <p>Enjoy our delicious food at any location</p>
  </div>
  <div class="section-grid card contact-us-card">
    <div class="contact-us-form" role="region" aria-label="Contact us form">
      <form id="contactForm">
        <input type="hidden" name="access_key" value="1636bfe4-61c1-4885-a29d-9007cde964b0">
        <input type="hidden" name="honeyPot" id="honeyPot" value="">
        <div class="form-group">
          <label for="firstName">First Name*</label>
          <div class="field">
            <input type="text" id="firstName" name="firstName" class="input" required />
          </div>
          <span class="error" id="firstNameError"></span>
        </div>

        <div class="form-group">
          <label for="lastName">Last Name*</label>
          <div class="field">
            <input type="text" id="lastName" name="lastName" class="input" required />
          </div>
          <span class="error" id="lastNameError"></span>
        </div>

        <div class="form-group">
          <label for="email">Organization Email*</label>
          <div class="field">
            <input type="email" id="email" name="email" class="input" required />
          </div>
          <span class="error" id="emailError"></span>
        </div>

        <div class="form-group">
          <label for="email">Subject*</label>
          <div class="field">
            <input type="text" id="subject" name="subject" class="input" required />
          </div>
          <span class="error" id="emailError"></span>
        </div>

        <div class="form-group">
          <label for="message">Message*</label>
          <div class="field">
            <textarea id="message" name="message" class="input" required></textarea>
          </div>
          <span class="error" id="messageError"></span>
        </div>
        <button type="submit" class="btn btn-primary btn-animated">
          Send Message
        </button>
        <div class="toast-container" id="toast-container"></div>
      </form>
    </div>
    <div class="contact-us-photo" aria-hidden="true">
    </div>
  </div>
</div>
