<div class="footer-cover-wrap" aria-hidden="true">
  <img class="footer-banner" src="assets/img/main-page/shadow-banner.svg" alt="" />
</div>

<footer class="footer" id="about">
  <div class="container">
    <h2>How to find us</h2>
    <div class="row">
      <div class="column">
        <strong>Email:</strong>
        <p>info@dons.cz</p>
        <strong>Address:</strong>
        <p>Štúrova 1282/12, 142 00 Prague</p>
      </div>
      <div class="column">
        <strong>Follow us on our social media:</strong>
        <div class="social-logos">
          <a href="https://www.facebook.com/profile.php?id=61556629532518" aria-label="Facebook" class="social-logo">
            <img src="assets/img/logos/facebook.svg" alt="Facebook" />
            <p>DON's Gemuse Kebab</p>
          </a>
          <a href="https://www.instagram.com/donskebab.cz" aria-label="Instagram" class="social-logo">
            <img src="assets/img/logos/instagram.svg" alt="Instagram" />
            <p>@donskebab.cz</p>
          </a>
          <a href="#" aria-label="TikTok" class="social-logo">
            <img src="assets/img/logos/tiktok.svg" alt="TikTok" />
            <p>@changeMe</p>
          </a>
        </div>
      </div>
      <div class="column footer-image">
      </div>
    </div>
    <hr />
    <div class="footer-credit">
      <div class="company">©2026 Don's Food s.r.o. | All rights reserved</div>
      <!--
      <div class="developer">
        Designed with <span style="color: red">&#10084;</span> by Fazogir team.
      </div>
      -->
    </div>
  </div>
</footer>
