<div class="row">
  <div class="column">
    <div class="menu-item card">
      <div class="menu-title">
        <h4>Dürüm klasický</h4>
        <p class="menu-description">
          Grilled d&ouml;ner meat served with crispy fries in a box.
        </p>
      </div>
      <div class="menu-image">
        <img src="assets/img/menu/dürüm_klasický.jpg" alt="" />
      </div>
    </div>
    <div class="menu-item card">
      <div class="menu-title">
        <h4>D&ouml;ner se s&yacute;rem</h4>
        <p class="menu-description">
          Grilled d&ouml;ner meat served with crispy fries in a box.
        </p>
      </div>
      <div class="menu-image">
        <img src="assets/img/menu/doner-se-syrem.jpg" alt="" />
      </div>
    </div>
  </div>
  <div class="column">
    <div class="menu-item card">
      <div class="menu-title">
        <h4>Bowl s chlebem</h4>
        <p class="menu-description">
          Grilled d&ouml;ner meat served with crispy fries in a box.
        </p>
      </div>
      <div class="menu-image">
        <img src="assets/img/menu/bowl_s_chlebem.jpg" alt="" />
      </div>
    </div>
    <div class="menu-item card">
      <div class="menu-title">
        <h4>Vegetariánský bowl s sýrem</h4>
        <p class="menu-description">
          Grilled d&ouml;ner meat served with crispy fries in a box.
        </p>
      </div>
      <div class="menu-image">
        <img src="assets/img/menu/vegetarianský_bowl_s_halloumi_sýrem.jpg" alt="" />
      </div>
    </div>
  </div>
  <div class="column">
    <div class="menu-item card">
      <div class="menu-title">
        <h4>Dürüm s vegetarian. sýrem</h4>
        <p class="menu-description">
          Grilled d&ouml;ner meat served with crispy fries in a box.
        </p>
      </div>
      <div class="menu-image">
        <img src="assets/img/menu/dürüm_s_vegetariánským_sýrem.jpg" alt="" />
      </div>
    </div>
    <div class="menu-item card">
      <div class="menu-title">
        <h4>Boxík</h4>
        <p class="menu-description">
          Grilled d&ouml;ner meat served with crispy fries in a box.
        </p>
      </div>
      <div class="menu-image">
        <img src="assets/img/menu/boxík.jpg" alt="" />
      </div>
    </div>
  </div>
</div>
