<div class="row">
  <div class="column">
    <div class="menu-item card">
      <div class="menu-title">
        <h4>Box&iacute;k s hranolky</h4>
        <p class="menu-description">
          Grilled d&ouml;ner meat served with crispy fries in a box.
        </p>
      </div>
      <div class="menu-image">
        <img src="assets/img/menu/boxik-s-hranolky.jpg" alt="Box&iacute;k s hranolky" />
      </div>
    </div>
    <div class="menu-item card">
      <div class="menu-title">
        <h4>D&ouml;ner se s&yacute;rem</h4>
        <p class="menu-description">
          Grilled d&ouml;ner meat served with crispy fries in a box.
        </p>
      </div>
      <div class="menu-image">
        <img src="assets/img/menu/doner-se-syrem.jpg" alt="D&ouml;ner se s&yacute;rem" />
      </div>
    </div>
  </div>
  <div class="column">
    <div class="menu-item card">
      <div class="menu-title">
        <h4>D&uuml;r&uuml;m &#39;jen maso&#39;</h4>
        <p class="menu-description">
          Grilled d&ouml;ner meat served with crispy fries in a box.
        </p>
      </div>
      <div class="menu-image">
        <img src="assets/img/menu/durum-jen-maso.jpg" alt="D&uuml;r&uuml;m &#39;jen maso&#39;" />
      </div>
    </div>
    <div class="menu-item card">
      <div class="menu-title">
        <h4>D&ouml;ner se s&yacute;rem</h4>
        <p class="menu-description">
          Grilled d&ouml;ner meat served with crispy fries in a box.
        </p>
      </div>
      <div class="menu-image">
        <img src="assets/img/menu/doner-se-syrem.jpg" alt="D&ouml;ner se s&yacute;rem" />
      </div>
    </div>
  </div>
  <div class="column">
    <div class="menu-item card">
      <div class="menu-title">
        <h4>Klasick&yacute; d&ouml;ner</h4>
        <p class="menu-description">
          Grilled d&ouml;ner meat served with crispy fries in a box.
        </p>
      </div>
      <div class="menu-image">
        <img src="assets/img/menu/klasicky-doner.jpg" alt="Klasick&yacute; d&ouml;ner" />
      </div>
    </div>
    <div class="menu-item card">
      <div class="menu-title">
        <h4>Vegansk&yacute; bowl s falafelem</h4>
        <p class="menu-description">
          Grilled d&ouml;ner meat served with crispy fries in a box.
        </p>
      </div>
      <div class="menu-image">
        <img src="assets/img/menu/vegansky-bowl-s-falafelem.jpg" alt="Vegansk&yacute; bowl s falafelem" />
      </div>
    </div>
  </div>
</div>
