<div class="row">
  <div class="column">
    <div class="menu-item">
      <div class="menu-title">
        <h4>Boxík s hranolky</h4>
        <p class="menu-description">
          Grilled döner meat served with crispy fries in a box.
        </p>
      </div>
      <div class="menu-image">
        <img src="assets/img/menu/Boxík s hranolky.jpg" />
      </div>
    </div>
    <div class="menu-item">
      <div class="menu-title">
        <h4>Döner se sýrem</h4>
        <p class="menu-description">
          Grilled döner meat served with crispy fries in a box.
        </p>
      </div>
      <div class="menu-image">
        <img src="assets/img/menu/Döner se sýrem.jpg" />
      </div>
    </div>
  </div>
  <div class="column">
    <div class="menu-item">
      <div class="menu-title">
        <h4>Dürüm 'jen maso'</h4>
        <p class="menu-description">
          Grilled döner meat served with crispy fries in a box.
        </p>
      </div>
      <div class="menu-image">
        <img src="assets/img/menu/Dürüm 'jen maso'.jpg" />
      </div>
    </div>
    <div class="menu-item">
      <div class="menu-title">
        <h4>Döner se sýrem</h4>
        <p class="menu-description">
          Grilled döner meat served with crispy fries in a box.
        </p>
      </div>
      <div class="menu-image">
        <img src="assets/img/menu/Döner se sýrem.jpg" />
      </div>
    </div>
  </div>
  <div class="column">
    <div class="menu-item">
      <div class="menu-title">
        <h4>Klasický döner</h4>
        <p class="menu-description">
          Grilled döner meat served with crispy fries in a box.
        </p>
      </div>
      <div class="menu-image">
        <img src="assets/img/menu/Klasický döner.jpg" />
      </div>
    </div>
    <div class="menu-item">
      <div class="menu-title">
        <h4>Veganský bowl s falafelem</h4>
        <p class="menu-description">
          Grilled döner meat served with crispy fries in a box.
        </p>
      </div>
      <div class="menu-image">
        <img src="assets/img/menu/Veganský bowl s falafelem.jpg" />
      </div>
    </div>
  </div>
</div>
